n8n-workflows/ai-coach-discord-bot.json
{
  "name": "AI Coach Discord Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-coach",
        "options": {}
      },
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "discord-coach-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract Discord message data\nconst body = $input.first().json.body;\n\nreturn {\n  json: {\n    user_id: body.author.id,\n    username: body.author.username,\n    channel_id: body.channel_id,\n    message: body.content,\n    timestamp: body.timestamp\n  }\n};"
      },
      "name": "Parse Discord Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"]}}",
              "operation": "startsWith",
              "value2": "!rex"
            }
          ]
        }
      },
      "name": "Is Rex Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/api/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"custom\",\n  \"user_id\": \"{{$json[\"user_id\"]}}\",\n  \"data\": {\n    \"platform\": \"discord\",\n    \"query\": \"{{$json[\"message\"].replace('!rex ', '')}}\",\n    \"channel_id\": \"{{$json[\"channel_id\"]}}\"\n  }\n}",
        "options": {}
      },
      "name": "Get AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🎰 **Rex Says:**\n\n{{$json[\"data\"][\"response\"]}}\n\n_Use `!rex <your question>` to ask Rex anything about poker strategy_",
        "options": {}
      },
      "name": "Send Discord Response",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Handle special commands\nconst message = $input.first().json.message.toLowerCase();\nlet response = '';\n\nif (message.includes('!rex help')) {\n  response = `**Rex - Your Poker Coach on Discord**\\n\\n` +\n             `**Commands:**\\n` +\n             `• \\`!rex <question>\\` - Ask Rex anything\\n` +\n             `• \\`!rex analyze <hand>\\` - Analyze a hand\\n` +\n             `• \\`!rex tilt\\` - Get tilt management advice\\n` +\n             `• \\`!rex stats\\` - View your stats\\n` +\n             `• \\`!rex help\\` - Show this message`;\n} else if (message.includes('!rex stats')) {\n  response = 'Fetching your stats...';\n} else if (message.includes('!rex tilt')) {\n  response = `**Tilt Management Tips:**\\n` +\n             `1. Take regular breaks every 2 hours\\n` +\n             `2. Practice mindful breathing\\n` +\n             `3. Review decisions objectively\\n` +\n             `4. Set stop-loss limits\\n` +\n             `5. Remember: Variance is part of poker`;\n}\n\nreturn {\n  json: {\n    response: response,\n    channel_id: $input.first().json.channel_id\n  }\n};"
      },
      "name": "Handle Special Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Discord Webhook": {
      "main": [
        [
          {
            "node": "Parse Discord Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Discord Message": {
      "main": [
        [
          {
            "node": "Is Rex Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Rex Command?": {
      "main": [
        [
          {
            "node": "Get AI Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Handle Special Commands",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get AI Response": {
      "main": [
        [
          {
            "node": "Send Discord Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Special Commands": {
      "main": [
        [
          {
            "node": "Send Discord Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "discord",
      "id": "discord-tag"
    },
    {
      "name": "bot",
      "id": "bot-tag"
    },
    {
      "name": "ai",
      "id": "ai-tag"
    }
  ],
  "meta": {
    "instanceId": "poker-therapist"
  }
}
