n8n-workflows/poker-hand-analysis.json
{
  "name": "Poker Hand Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "poker-hand-analysis",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "poker-hand-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/api/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"poker_analysis\",\n  \"user_id\": \"{{$json[\"user_id\"]}}\",\n  \"email\": \"{{$json[\"email\"]}}\",\n  \"data\": {\n    \"hand_data\": {{$json[\"hand_data\"]}}\n  }\n}",
        "options": {}
      },
      "name": "Call Poker Therapist API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"success\"]}}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@pokertherapist.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Your Poker Hand Analysis is Ready",
        "text": "Hi {{$json[\"user_id\"]}},\n\nYour poker hand analysis has been completed.\n\nAnalysis Results:\n{{$json[\"data\"][\"analysis\"]}}\n\nBest regards,\nRex - Your Poker Coach",
        "options": {}
      },
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "text": "=Poker hand analysis completed for {{$json[\"user_id\"]}}",
        "additionalFields": {}
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "fromEmail": "alerts@pokertherapist.com",
        "toEmail": "admin@pokertherapist.com",
        "subject": "Analysis Failed",
        "text": "Failed to analyze hand for user {{$json[\"user_id\"]}}.\n\nError details:\n{{$json[\"message\"]}}",
        "options": {}
      },
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Poker Therapist API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Poker Therapist API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "poker",
      "id": "poker-tag"
    },
    {
      "name": "analysis",
      "id": "analysis-tag"
    }
  ],
  "meta": {
    "instanceId": "poker-therapist"
  }
}
