n8n-workflows/tilt-detection-alert.json
{
  "name": "Tilt Detection Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Check Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.API_BASE_URL}}/api/tracking/tilt-status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check Tilt Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"tilt_level\"]}}",
              "operation": "largerEqual",
              "value2": 7
            }
          ]
        }
      },
      "name": "Is Tilting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/api/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"triage_session\",\n  \"user_id\": \"{{$json[\"user_id\"]}}\",\n  \"email\": \"{{$json[\"email\"]}}\",\n  \"data\": {\n    \"session_data\": {\n      \"tilt_level\": {{$json[\"tilt_level\"]}},\n      \"trigger\": \"automated_detection\",\n      \"timestamp\": \"{{$now}}\"\n    }\n  }\n}",
        "options": {}
      },
      "name": "Start Triage Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "fromEmail": "alerts@pokertherapist.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "🚨 Tilt Alert - Time to Take a Break",
        "text": "Hi {{$json[\"user_id\"]}},\n\nOur system has detected signs of tilt in your recent play (Level: {{$json[\"tilt_level\"]}}/10).\n\nRex recommends:\n1. Take a 15-minute break\n2. Practice breathing exercises\n3. Review your recent decisions objectively\n\nA triage session has been started for you. Click below to continue:\n[Start Triage Session]\n\nRemember: The best players know when to step away.\n\n- Rex, Your Poker Coach",
        "options": {}
      },
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "text": "=🚨 TILT ALERT: {{$json[\"user_id\"]}} showing tilt level {{$json[\"tilt_level\"]}}/10\n\nTriage session initiated automatically.",
        "additionalFields": {
          "channel": "#tilt-alerts"
        }
      },
      "name": "Notify Coach on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "fromPhoneNumber": "={{$env.TWILIO_PHONE}}",
        "toPhoneNumber": "={{$json[\"phone_number\"]}}",
        "message": "TILT ALERT: Your tilt level is {{$json[\"tilt_level\"]}}/10. Time to take a break. Rex is here to help - check your email for guidance."
      },
      "name": "Send SMS Alert",
      "type": "n8n-nodes-base.twilioSms",
      "typeVersion": 1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "operation": "insertOrUpdate",
        "table": "tilt_incidents",
        "columns": "user_id,tilt_level,timestamp,session_id",
        "values": "={{$json[\"user_id\"]}},={{$json[\"tilt_level\"]}},={{$now}},={{$json[\"session_id\"]}}"
      },
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Check Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Check Tilt Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tilt Status": {
      "main": [
        [
          {
            "node": "Is Tilting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Tilting?": {
      "main": [
        [
          {
            "node": "Start Triage Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Coach on Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send SMS Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Alert Email": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "tilt",
      "id": "tilt-tag"
    },
    {
      "name": "monitoring",
      "id": "monitoring-tag"
    },
    {
      "name": "alerts",
      "id": "alerts-tag"
    }
  ],
  "meta": {
    "instanceId": "poker-therapist"
  }
}
