poker-coach-grind/n8n-workflows/crypto-portfolio-monitor.json
{
  "name": "Crypto Portfolio Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "name": "Every 4 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/api/crypto/prices",
        "method": "GET",
        "options": {}
      },
      "name": "Get Crypto Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/api/crypto/portfolio",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "user123"
            },
            {
              "name": "wallets",
              "value": "={{ [{\"blockchain\": \"ethereum\", \"address\": \"0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb\"}, {\"blockchain\": \"solana\", \"address\": \"7vfCXTUXx5WJV5JADk17DUJ4ksgau7utNKj4b963voxs\"}] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Portfolio Value",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const currentValue = $json.total_usd;\nconst previousValue = $workflow.getStaticData('previousValue') || currentValue;\nconst change = ((currentValue - previousValue) / previousValue) * 100;\n\n$workflow.getStaticData('previousValue', currentValue);\n\nreturn {\n  json: {\n    ...items[0].json,\n    previous_value: previousValue,\n    change_percent: change,\n    alert: Math.abs(change) > 10\n  }\n};"
      },
      "name": "Calculate Change",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.alert }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Significant Change?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "message": "🪙 Crypto Portfolio Alert\n\nCurrent Value: ${{ $json.total_usd.toFixed(2) }}\nPrevious Value: ${{ $json.previous_value.toFixed(2) }}\nChange: {{ $json.change_percent.toFixed(2) }}%\n\nBreakdown by token:\n{{ Object.entries($json.by_token).map(([symbol, data]) => `${symbol}: ${data.balance.toFixed(4)} ($${data.value_usd.toFixed(2)})`).join('\\n') }}",
        "additionalFields": {}
      },
      "name": "Send Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "discordWebhookApi": {
          "id": "1",
          "name": "Discord Webhook"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Portfolio Tracking",
        "columns": "timestamp,total_usd,eth_balance,sol_balance,change_percent",
        "options": {}
      },
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1250, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Every 4 hours": {
      "main": [
        [
          {
            "node": "Get Crypto Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Crypto Prices": {
      "main": [
        [
          {
            "node": "Get Portfolio Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolio Value": {
      "main": [
        [
          {
            "node": "Calculate Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Change": {
      "main": [
        [
          {
            "node": "Significant Change?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Significant Change?": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
